{{! 对话框模板}}
{{! 不使用默认wrapper}}
{{#if Ctrls.innermode}}
<div id="{{hooks.wrapperid}}" class="weui_dialog_{{Ctrls.tplname}} {{hooks.wrapperclass}}" data-dialogtype="{{Ctrls.tplname}}" style="display: none;">
{{/if}}
	{{! 遮罩}}
	<div class="weui_mask"></div>
	{{! 对话框主体内容}}
	<div class="weui_dialog">
		<div class="weui_dialog-hd">
			<strong class="weui_dialog-title">{{ctns.txt_title}}</strong>
		</div>
		<div class="weui_dialog-bd">
			{{{ctns.txt_body}}}
		</div>
		<div class="weui_dialog-ft">
			{{#if Ctrls}}
				{{!-- change context to Ctrls--}}
				{{#with Ctrls}}
					{{#if tplname}}
						{{#compare tplname "alert"}}
							<a href="javascript:;" class="weui_btn_dialog primary" jhk="ok">{{@root.ctns.txt_ok}}</a>
						{{/compare}}
						{{#compare tplname "confirm"}}
							<a href="javascript:;" class="weui_btn_dialog default" jhk="cancel">{{@root.ctns.txt_cancel}}</a>
							<a href="javascript:;" class="weui_btn_dialog primary" jhk="ok">{{@root.ctns.txt_ok}}</a>
						{{/compare}}
					{{/if}}
				{{/with}}
			{{/if}}
		</div>
	</div>
{{#if Ctrls.innermode}}
</div>
{{/if}}
