{{! 滑入式操作表}}
{{! 不使用默认wrapper}}
{{#if Ctrls.innermode}}
<div id="{{hooks.wrapperid}}" class="weui_actionsheet_wrap {{hooks.wrapperclass}}" data-plugintype="{{Ctrls.tplname}}">
{{/if}}
	{{#if Ctrls}}
		{{#with Ctrls}}
			{{#if tplname}}
				<div class="weui_mask_transition" jhk="mask"></div>
			    <div class="weui_actionsheet" jhk="actionsheet">
			        <div class="weui_actionsheet_ctn {{@root.hooks.classes.weui_actionsheet_ctn}}">
				        {{#if @root.ctns.title}}
				            <div class="weui_actionsheet_title">
			            		{{{@root.ctns.title}}}
				            </div>				        
				        {{/if}}
						{{#if @root.ctns.body}}
				            <div class="weui_actionsheet_body">
				            	{{{@root.ctns.body}}}
				            </div>						
						{{/if}}
			        </div>
			        {{! 如果需要取消按钮}}
			        {{#if @root.Ctrls.has_action_cancel}}
			            <div class="weui_actionsheet_cancel" jhk="cancel">取消</div>
			        {{/if}}
			    </div>
		    {{/if}}
	    {{/with}}
    {{/if}}
{{#if Ctrls.innermode}}
</div>
{{/if}}
