{{! 位置滚动器模板}}
{{! 不使用默认wrapper}}
{{#if Ctrls.innermode}}
<div id="{{hooks.wrapperid}}" class="weui_positionscroller {{hooks.wrapperclass}}" data-plugintype="{{Ctrls.tplname}}" style="display: none;">
{{/if}}
	{{#if Ctrls}}
		{{#with Ctrls}}
			{{#if tplname}}
				<div class="weui_positionscroller-hd">
					{{#if @root.ctns.head}}
						{{{@root.ctns.head}}}
					{{/if}}
				</div>
				<div class="weui_positionscroller-bd">
					{{#if @root.ctns.body}}
						{{{@root.ctns.body}}}
					{{/if}}
				</div>
	        {{/if}}
        {{/with}}
    {{/if}}
{{#if Ctrls.innermode}}
</div>
{{/if}}
